body {
    background-color: black;
    padding: 0;
    margin: 0;
}

.mainDiv {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: cornflowerblue;
    font-size: 0;
}

.mainDiv > div {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    display: inline-block;
}
.Red {

    background-color: red; 
}
.Yellow {
    background-color: yellow;
}

.Green {
    background-color: green;
}
.RedCircle {

    background-color: red;
    border-radius: 50%;
}
.YellowCircle {
    background-color: yellow;
    border-radius: 50%;
}

.GreenCircle {
    background-color: green;
    border-radius: 50%;
}
.RedSquare2 {

    background-color: red; 
}
.YellowSquare2 {
    background-color: yellow;
}

.GreenSquare2 {
    background-color: green;
}